.videoPlayer {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 768px;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 13px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 0px 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 7px;
    .videoPlayer__columns{
      &:first-child {
        margin-right: 18px;
        #jsPlayButton:hover i{
          transform: scale(1.2);
        } 
        i{
          transition: 0.1s;
        }
        
      }
      &:nth-child(2) {
        display: flex;
        align-items: center;
        flex: auto;
        .videoPlayer__range{
          padding:0;
          max-width: none;
          margin-right: 15px;
          height: 40px;
          outline: none;
        }
        span{
          display: flex;
          align-items: center;
          &:nth-child(2){
            margin:0 5px;
          }
        }
        
      }
      &:nth-child(3) {
        margin-left: 25px;
        margin-right: 28px;
        width:20px;
        position: relative;
        &:hover .videoPlayer__volume,
        &:focus .videoPlayer__volume{
          opacity: 1;
        }
        .videoPlayer__volume {
          position: absolute;
          padding: 0;
          opacity: 0;
          top: -47px;
          left: -36px;
          transform: rotate(-90deg);
          z-index: 10;
          width: 80px;
          height: 8px;
          
          input {
            background-color: rgba(0, 0, 0, 0.7);
            &::-webkit-slider-runnable-track {
              background-color: $gray;
              height: 5px;
            }
            &::-webkit-slider-thumb {
              all: unset;
              background-color: $red;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              position: relative;
              top: -5px;
            }
          }
        }
      }
      &:last-child {
        #jsFullScreenButton:hover i{
          transform: scale(1.2);
        } 
        i{
          transition: 0.1s;
        }
      }
      i {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}