.thumbnailBlock {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  transition: all 0.2s ease;

  a {
    display: flex;
    width: 100%;
    video {
      max-width: 100%;
      width: 180px;
      height: 91px;
      overflow: hidden;
      border-radius: 5px;
    }
  }
  
  &:hover {
    transform: scale(0.97);
  }
  
  &:last-child {
    border-bottom: 1px solid #ddd;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 14px;
    padding: 11px 0;
  }

  &__main {
    width: 80%;
  }

  &__title {
    color: $black;
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__description {
    color: #606060;
    font-size: 13px;
    line-height: 1.5;
  }

  &__views {
    color: $red;
    font-size: 13px;
  }
}