.videoDetail{
  display: flex;
  margin-bottom: 10px;
  transition: all 0.2s ease;

  &:hover{
    transform: scale(0.97);
  }

  &__video{
    a{
      video{
        width: 200px;
        height: 112px;
      }
    }
  }

  &__content{
    width: 100%;
    padding-left: 10px;
    padding-top: 2px;
    a, a:visited{
      color: black;
    }
  }

  &__title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
  }

  &__viewDate{
    display: flex;
    color: $medium-gray;
    font-size: 13px;  
    margin-top: 5px;
    em{
      margin:0 5px;
      color: $medium-gray;
    }
    h6{
      font-size: 13px;
    }
  }

  &__creator{
    a{
      display: flex;
      align-items: center;
      img{
        width: 25px;
        margin-right: 6px;
      }
      h5{
        color: $medium-gray;
        font-size: 13px;
        margin-top: 13px;
      }
    }
  }

}