extends ../layout.pug

block content 
  h1 editVideo

  form(method="POST")
    h2 제목
    input(name="title" type="text" placeholder="제목" value=video.title required)
    h2 설명
    input(name="description" type="text" placeholder="설명" value=video.description)
    h2 해시태그
    input(name="hashtags" type="text" placeholder="해시태그" value=video.hashtags.join())
    input(type="submit" value="비디오 수정")