extends ../layout.pug
include ../mixins/mixinVideo.pug

block content 
  h1 seeVideo

  +mixinVideo(video)

  h3 user._id: #{user._id}
  h3 loggedInUser._id: #{loggedInUser._id}

  if String(user._id) === String(loggedInUser._id)
    a(href=`${video._id}/edit`) Edit Video
    br
    a(href=`${video._id}/delete`) Delete Video