extends ../layout.pug
include ../mixins/mixinVideo.pug

block content 
  h1 seeVideo

  video(src=`/${video.videoUrl}` controls width="650" height="450") 

  +mixinVideo(video)

  a(href=`${video.id}/edit`) Edit Video
  br
  a(href=`${video.id}/delete`) Delete Video