extends ../layout.pug

block content 
  .upload-container
    .record-container#jsRecorderContainer
      video#jsVideoPreview
      .form__input
        button.recordBtn#jsRecordBtn 녹화 시작

    form(method="POST" enctype="multipart/form-data")
      .fileUpload.form__input
        input(id="video" name="video" type="file" placeholder="비디오" accept="video/*" required)
        i.fas.fa-video 
      .fileUpload.form__input
        input(type="file", name="thumbnailFile", id="thumbnailFile" accept="image/*")
        i.fas.fa-photo-video
      .form__input
        input(name="title" type="text" placeholder="제목" maxlength="20" required)
        i.fa.fa-edit
      .form__input
        input(name="hashtags" type="text" placeholder="해시태그")
        i.fas.fa-hashtag
      textarea(name="description" placeholder="설명" maxlength="100")
      input(type="submit" value="업로드")
