extends ../layout.pug

block content 
  h1 uploadVideo

  form(method="POST")
    input(name="title" type="text" placeholder="제목" required)
    input(name="description" type="text" placeholder="설명")
    input(name="hashtags" type="text" placeholder="해시태그")
    input(type="submit" value="업로드")