extends ../layout

block content 
  .upload-container
    .record-container#jsRecorderContainer
      video(id="jsVideoPreview" crossorigin)
      .form__input
        button(class="recordBtn" id="jsRecordButton" disabled) 로딩중...

    form(method="POST" enctype="multipart/form-data")
      .fileUpload.form__input
        input(type="file" name="video" id="video" accept="video/*" required)
        i.fas.fa-video 
      .fileUpload.form__input
        input(type="file", name="thumbnail", id="thumbnail" accept="image/*" required)
        i.fas.fa-photo-video
      .form__input
        input(type="text" name="title" placeholder="제목" maxlength="20" required)
        i.fa.fa-edit
      .form__input
        input(type="text" name="hashtags" placeholder="해시태그")
        i.fas.fa-hashtag
      textarea(name="description" placeholder="설명" maxlength="100")
      input(type="submit" value="업로드")
    include ../components/errorMessage

block script
  script(src="/assets/js/videoRecorder.js") 
