.home-container{
  display: flex;
  .home-videos {
    padding: 20px 50px;
    padding-right: 0;
    box-sizing: border-box;
    flex:8.7;
    .home-videos-content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}