.search-container {
  display: flex;
  
  .search-main {
    flex: 8.3;
    padding: 20px 50px;
    .search-main__result {
      border-bottom: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 18px;
      font-size: 20px;
      font-weight: 400;
      i {
        margin-right: 10px;
        font-size: 17px;
      }
    }
    .search-main__content {
      padding-top: 20px;
      h5 {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}