doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title #{pageTitle} - YouTube
  body 
    header 
      h1=pageTitle
      nav 
        ul 
          li
            a(href="/") 홈
          if isLoggedIn
            li
              a(href="/logout") 로그아웃
            li
              a(href="/users/edit") #{loggedInUser.username} 프로필 수정
            li
              a(href="/profile") #{loggedInUser.username}의 프로필
            li
              a(href="/videos/upload") 비디오 업로드
          else
            li 
              a(href="/join") 회원가입
            li
              a(href="/login") 로그인
          li
            a(href="/search") 검색

    main
      block content
      
      include partials/footer.pug