$red: #FF0000;
$dark-red: #bb2f2a;
$light-white: #f5f5f5;
$gray: #A9A9A9;
$medium-gray: #606060;
$dark-gray: #e7e7e7;
$black: #444444;
$light-black:rgba(0, 0, 0, 0.2);
$yellow: #f7e600;
$blue: #065FD4;
$border-color:rgba(0,0,0,0.1);
$width:320px;
$max-width:1400px;