extends ../layout.pug
include ../mixins/mixinVideo.pug

block content
  .home-container 
    .home-menu 
      include ../components/sideBar

    .home-videos 
      .home-videos-content
        each video in videos
          +mixinVideo(video)
        else 
          h1 존재하는 비디오가 없습니다.

block script
  script(src="/assets/js/thumbnailVideo.js")