extends ../layout.pug

block content
  h1 login

  h3 #{errorMessage}

  form(method="POST")
    input(name="email" type="email" placeholder="이메일" required)
    input(name="password" type="password" placeholder="비밀번호" required)
    input(type="submit" value="로그인")
    br
    a(href="/github/auth/start") 깃허브로 로그인

  div 
    span 이미 계정이 있으신가요? 
    a(href="/join") 회원가입