extends ../layout
include ../mixins/mixinVideo
include ../mixins/mixinSearchVideo

block content 
  .search__container
    .home-menu 
      include ../components/sideBar

    .search_main 
      .search_main__result
        i.fas.fa-search
        | #{title} 검색 결과
      .search_main__content
        if videos.length===0
          h5 비디오를 찾을 수 없습니다.
        each video in videos 
          +mixinSearchVideo(video)

block script
  script(src="/assets/js/thumbnailVideo.js")