.social-login 
  button.social-login--github 
    a(href="/github/auth/start") 
      span
        i.fab.fa-github
      |깃허브 로그인

  button.social-login--kakao
    a(href="/kakao/auth/start") 
      span
        i.fas.fa-comment
      |카카오 로그인