extends ../layout.pug

block content 
  h1 changePassword 

  h3=errorMessage

  form(method="POST")
    input(name="oldPassword" type="password" placeholder="기존 비밀번호" required)
    input(name="newPassword" type="password" placeholder="새 비밀번호" required)
    input(name="newPasswordConfirm" type="password" placeholder="새 비밀번호 확인" required)
    input(type="submit" value="비밀번호 변경")