extends ../layout

block content 
  .form-container 
    include ../components/youtube
    form(method="POST")
      .form__input
        input(name="oldPassword" type="password" placeholder="기존 비밀번호" required)
        i.fas.fa-unlock-alt
      .form__input
        input(name="newPassword" type="password" placeholder="새 비밀번호" required)
        i.fas.fa-unlock
      .form__input
        input(name="newPasswordConfirm" type="password" placeholder="새 비밀번호 확인" required)
        i.fas.fa-lock
      input(type="submit" value="비밀번호 변경")
    include ../components/errorMessage