extends ../layout.pug

block content 
  h1 profile

  h2=loggedInUser.username
  h2=loggedInUser.email

  a(href="/users/profile/edit") 프로필 수정
  br
  if loggedInUser.githubId===null && loggedInUser.kakaoId===null
    a(href="/users/password/change") 비밀번호 변경